<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED"/>
                <!-- Default category is required for the intent filter to work -->
                <category android:name="android.intent.category.DEFAULT"/>
                <!-- Browsable also enables opening this app through a link on a website -->
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Intent filters without data will never be triggered on NFC devices.
                Always define the specific data you expect to be present. -->
                <data android:scheme="https" android:host="bl.ink" />
                <!-- Additionally support http scheme. See:
                https://developer.android.com/training/app-links/verify-site-associations.html -->
                <data android:scheme="http" />
            </intent-filter>

            <!-- Also register for the URL if it appears outside of NFC tags -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="bl.ink" />
                <data android:scheme="http" />
            </intent-filter>

        </activity>
        <activity
            android:name=".NewAccountCreation"
            android:parentActivityName=".MainActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".HomePageActivity"
            android:parentActivityName=".MainActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".SendNfcIntent"
            android:label="@string/title_activity_send_nfc_intent"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".UpdateProfile"></activity>

        <activity android:name=".activities.MainActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <activity android:name=".UpdateProfile" />
        <activity android:name=".UserProfilePage"></activity>
    </application>

</manifest>